
<div class="text-left">

    <div class="text-center">
        <h2>Conteúdos Admnistrados</h2>
        <a href="https://www.google.com.br" >Google</a>
        <p>*Asp Net</p>
        <p>*Mocagem de Dados</p>
    </div>

</div>